# Development API URL (default)
NEXT_PUBLIC_API_URL=http://localhost:8000

# Production API URL (Replace with your actual backend URL)
# NEXT_PUBLIC_API_URL=https://duolingo-clone-backend-kyf3.onrender.com
